@font-face {
    font-family: 'Avenir';
    src:  url('../fonts/avenir/Avenir-Light.eot'),
        url('../fonts/avenir/Avenir-Light.svg') format('svg'),
        url('../fonts/avenir/Avenir-Light.ttf') format('truetype'),
        url('../fonts/avenir/Avenir-Light.woff') format('woff'),
        url('../fonts/avenir/Avenir-Light.woff2') format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'Avenir';
    src:  url('../fonts/avenir/Avenir-Book.eot'),
        url('../fonts/avenir/Avenir-Book.svg') format('svg'),
        url('../fonts/avenir/Avenir-Book.ttf') format('truetype'),
        url('../fonts/avenir/Avenir-Book.woff') format('woff'),
        url('../fonts/avenir/Avenir-Book.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Avenir';
    src:  url('../fonts/avenir/Avenir-Medium.eot'),
        url('../fonts/avenir/Avenir-Medium.svg') format('svg'),
        url('../fonts/avenir/Avenir-Medium.ttf') format('truetype'),
        url('../fonts/avenir/Avenir-Medium.woff') format('woff'),
        url('../fonts/avenir/Avenir-Medium.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'Avenir';
    src:  url('../fonts/avenir/Avenir-Black.eot'),
        url('../fonts/avenir/Avenir-Black.svg') format('svg'),
        url('../fonts/avenir/Avenir-Black.ttf') format('truetype'),
        url('../fonts/avenir/Avenir-Black.woff') format('woff'),
        url('../fonts/avenir/Avenir-Black.woff2') format('woff2');
    font-weight: 900;
}
