.d-none { display: none!important; }
.d-block { display: block!important; }
.d-flex { display: flex!important; }

.f-row { flex-direction: row!important; }
.f-row-reverse { flex-direction: row-reverse!important; }
.f-column { flex-direction: column!important; }

.j-center { justify-content: center!important; }
.j-space-between { justify-content: space-between!important; }
.j-space-around { justify-content: space-around!important; }
.j-space-evenly { justify-content: space-evenly!important; }
.j-flex-start { justify-content: flex-start!important; }
.j-flex-end { justify-content: flex-end!important; }

.a-center { align-items: center!important; }
.a-flex-start { align-items: flex-start!important; }
.a-flex-end { align-items: flex-end!important; }