$primary: #461E7D;
$darkprimary: #280A50;
$blackprimary: #1C0639;

$secondary: #FD6600;
$complementary: #5738FF;
$tertiary: #FF006E;

$blue: #2CFEF9;
$green: #2AFD95;

$grey-1: #00000080;
$grey-2: #0000004D;
$grey-3: #00000033;

$grid-breakpoint-xs: 0;
$grid-breakpoint-sm: 576px;
$grid-breakpoint-md: 768px;
$grid-breakpoint-lg: 1024px;
$grid-breakpoint-xl: 1200px;
$grid-breakpoint-xxl: 1376px;